.content {
  flex: 1;
  width: 100%;
  position: relative;
}

.page-title {
  font-family: 'DM Mono', monospace;
  margin: auto;
  font-size: 2rem;
  text-transform: uppercase;
  width: fit-content;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(216, 191, 216, 0.838) 50%);
}

ul {
  padding: 0;
}

.status-wrapper {
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.spinner {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid thistle;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}